---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getNumberOfPages,
  getAllBlocksByBlockId
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import NoContents from '../components/NoContents.astro'
import PostTitle from '../components/PostTitle.astro'
import PostFeaturedImage from '../components/PostFeaturedImage.astro'
import PostBody from '../components/PostBody.astro'
import PostTags from '../components/PostTags.astro'
import Pagination from '../components/Pagination.astro'
import styles from '../styles/blog.module.css'

const [posts, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getNumberOfPages(),
])

const postBlocks = new Map()
for (const post of posts) {
  if (post.PageId) {
    const blocks = await getAllBlocksByBlockId(post.PageId)
    postBlocks.set(post.PageId, blocks)
  }
}
---

<Layout>
  <div slot="main" class={styles.main}>
    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        posts.map((post) => (
          <div class={styles.post}>
            <PostTitle post={post} enableLink={true} />
            <PostFeaturedImage post={post} />
            <PostBody blocks={postBlocks.get(post.PageId) || []} />
            <PostTags post={post} enableLink={true} />
          </div>
        ))
      )
    }

    <footer>
      <Pagination currentPage={1} numberOfPages={numberOfPages} />
    </footer>
  </div>

  <div slot="aside" class={styles.aside}>
  </div>
</Layout>
